<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% if player == None %}
    <h3>Enter name:</h3>
    <form action="/choose_name" method="POST">

    <input type="text" name="alias">

    <input type="submit" value="Enter Name">
    </form>
    
    {% else %}
    <h1>{{player}}</h1>
    <h2>You are in a room with folks.</h2>
    
    {% for person in people %}
    <p>{{person}}</p>
    {% endfor %}
    
    <h2>Do you...</h2>
    <a href="/leave">Leave Room</a>
    <a href="/talk">Talk to Someone</a>
    
    {% endif %}

</body>
</html>