<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete a course</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
        
        <h1 class="d-flex justify-content-center text-info">Are you sure you want to delete the following course?</h1>

        <ul class="list-group">
            <li class="list-group-item list-group-item-info font-weight-bold text-success">Name: {{course.name}}</li>
            <li class="list-group-item list-group-item-info font-weight-bold text-success">Description: {{course.description}}</li>
        </ul>

        <br/>
        <br/>
        <br/>
        <br/>

        <a href="/" class="btn btn-outline-success">No</a> | 
        
        <form method="POST" action="/destroy/{{course.id}}" class="d-inline">
            {% csrf_token %}
            <input type="hidden" name="deleteShow" value="{{course.id}}">
            <input type="submit" value="Yes! I want to delete this" class="btn btn-outline-danger">
        </form>

    </div>

</div>
</body>
</html>