<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
    
                <h1 class="text-primary">Registration</h1>
                <form action="/register" method="post">
                    {% csrf_token %}
                    {{ regForm.as_p }} <!-- passes the form as context and displays it as p tags -->
                    <input type="submit" value="Register">
                </form>
            </div>
            <div class="col">
                <h1 class="text-primary">Login</h1>
                <form action="/login" method="POST">
                    {% csrf_token %}
                    <label for="email">Email: </label>
                    <input type="email" name="email">

                    <label for="password">Password: </label>
                    <input type="password" name="password">

                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
</body>
</html>